html, body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f9;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.buttonList {
  list-style-type: none;
  margin: 0;
  padding: 2rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;

  li {
    padding: 0;
    margin: 0 2rem;
  }
}