html, body {
  margin: 0;
  padding: 0;
  background-color: #060606;
  color: #888888;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.buttonList {
  list-style-type: none;
  margin: 0;
  padding: 0 2rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    padding: 0;
    margin: 1rem;

    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {
      margin: 2rem;
    }
  }
}
