.homeButton {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  text-align: center;

  img {
    width: 6rem;
    height: 6rem;
  }
}