.homeButton {
  padding: .5rem;
  font-size: 1.1rem;

  img {
    width: 3rem;
    height: 3rem;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    padding: 2rem;
    font-size: 1.5rem;

    img {
      width: 6rem;
      height: 6rem;
    }
  }

  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: #888888;
  background-color: #222222;
  border-color: #282828;
  text-align: center;
}