<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="home.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="home-ipad.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="home-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="home-ipad-retina.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<div id="app"></div>
</body>
</html>