.temperature {
  position: absolute;
  top: 1.5rem;
  height: 3rem;
  line-height: 3rem;
  right: 0.5rem;


  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 1.3rem;
    top: 2rem;
    right: 1rem;
    height: 4rem;
    line-height: 4rem;
  }

  .loading {
    margin-top: 0.5rem;

    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {
      margin-top: 1rem;
    }
  }
}